.header {
  display: flex;
  justify-content: space-between;
  padding: 37px 0;
background: none;
  width: 1192px;
margin: 0 auto;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-ellipse {
  width: 49px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(238.08deg, #a248d9 -25.15%, #eccdff 127.57%);
  border-radius: 50%;
  color: white;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  margin-right: 18px;
}
.header__logo-text {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
